body {
background-color: #26b3b8;
text-align: center;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 70pt;
}

.container{
    width: 80%;
    margin: 0auto;
    max-width: 1000px;
}

aside ul{
    list-style-type: circle;
    font-size: 25pt;
    float: left;
}
ul{
    text-align: center;
}

ol{
    text-align: left;
}

img{
   float: left;
   margin-right: 25px;
   margin-bottom: 25px;
   padding: 10px 10px 10px 10px;
   border: 10px solid green;
   height: auto;
   width: 500px;
}



