body {
background-color: #26b3b8;
text-align: center;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 70pt;
}

.container{
    width: 80%;
    margin: 0auto;
}

aside ul{
    list-style-type: circle;
    font-size: 30pt;
}

img{
   float: left;
   margin-right: 10px;
}

.image2{
    float: right;
    margin-left: 10px;
}

